body {
    background-image: url("black.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: white;
}

h2 {
    font-family: 'Lobster Two', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid white;
    background: black;
    color: white;
    box-shadow: 1px 1px 2px whitesmoke;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

.button-container {
    text-align: left;
}

.rounded-button {
    border-radius: 25px;
    padding: 10px 20px;
}